
.jumbotron.other-color {
  background-color: #CF142B !important;
  text-align:center;

}

.wrapper {
  margin: auto;
  display: block;
}

small {
  font-color: white; !important;
}


#map {
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
 }

 #drop-down{
  padding-bottom: 25px;
}
